:root {
    --bs-primary: #198754;
    --bs-primary-rgb: 25, 135, 84;

    --bs-success: #20c997;
    --bs-success-rgb: 32, 201, 151;

    --bs-body-bg: #f4f0e8;
    --bs-body-color: #2d3436;
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.display-1,
.display-5 {
    letter-spacing: -2px;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}